$blue: rgb(8, 114, 214);
$darkGreen: rgb(33, 155, 43);
$monty: 'Montserrat', sans-serif;

.header-bar{
  background: $darkGreen;
  width: 100%;
  height: 20vh;
  max-height: 100px
}

.logo{
  max-width: 125px;
  max-height: 90px;
}

@media only screen and (max-width: 400px){
  .logo {
    width: 35vw;
    height: 20vh;
  }
}
