$blue: rgb(4, 159, 206);
$darkGreen: rgb(16, 221, 33);
$monty: 'Montserrat', sans-serif;

//Endless River
$river1: #43cea2;
$river2: #185a9d;
//Predawn
$dawn1: #ffa17f;
$dawn2: #00223e;
//Frost
$frost1: #000482;
$frost2: #004e92;
//Blooker
$blooker1: #e65c00;
$blooker2: #f9d423;
//Very Blue
$blue1: #0575e6;
$blue2: #021b79;
//Lush
$lake1: #56ab2f;
$lake2: #a8e063;
//Harmonic
$harmonic1: #16a085;
$harmonic2: #f4d03f;
//Sexy Blue
$sexy1: #2193b0;
$sexy2: #6dd5ed;

//RESET CSS
* {
    margin: 0;
    padding: 0;
  }
body{
    background: linear-gradient(to bottom right, $harmonic1, $harmonic2)
}
/////////////////////STICKY FOOTER/////////////////////////////
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
.Site-content:after {
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}
/////////////////////STICKY FOOTER/////////////////////////////
.content-text{
    padding: 8vw;
    color: white ;
    text-align: center;
    font-size: 1.3em; 
}
.header-bar{
  background: linear-gradient(63deg,#4FB0C9,#64BAA5,#77C382,#8ACC5F) ;
  width: 100%;
  height: 15vh;
  max-height: 100px;
}
.copyright{
    color: white;
}
.footer-bar{
  background: linear-gradient(to right, $blooker1, $blooker2);
  width: 100%;
  height: 8vh;
  max-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

///////////////////////////STICKY FOOTER/////////////

.logo{
  max-width: 125px;
  max-height: 90px;
  display: block;
  margin: auto;
  width: 80px;
  height: 30px;

}

@media only screen and (max-width: 400px){
  .logo {
    width: 25vw;
    height: 15vh;
  }
  .button{
    background: linear-gradient(to right, $sexy1, $sexy2);
    color: white;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom:15px;
    width: 40vw;
    height: 15vw;
    font-size: 1.2em;
    padding: 0;
    box-shadow: 2px;
    border-radius: 5px;
  }
  .grass-pic{
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  .checkbox-container{
    display: flex;
    justify-content: center;
  }

}