$blue: rgb(4, 159, 206);
$darkGreen: rgb(16, 221, 33);
$monty: 'Montserrat', sans-serif;

//Endless River
$river1: #43cea2;
$river2: #185a9d;
//Predawn
$dawn1: #ffa17f;
$dawn2: #00223e;
//Frost
$frost1: #000482;
$frost2: #004e92;
//Blooker
$blooker1: #e65c00;
$blooker2: #f9d423;
//Royal Petrol
$royal1: #bbd2c5;
$royal2: #536976;
$royal3: #292e49;


//RESET CSS
* {
    margin: 0;
    padding: 0;
  }
body{
    background: $darkGreen;
}
/////////////////////STICKY FOOTER/////////////////////////////
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
.Site-content:after {
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}
/////////////////////STICKY FOOTER/////////////////////////////
.content-text{
    padding: 8vw;
    color: darkblue;
    text-align: center;
    font-size: 1.3em; 
}
.header-bar{
  background: linear-gradient(to right, $royal1, $royal2, $royal3 );
  width: 100%;
  height: 15vh;
  max-height: 100px;
}
.copyright{
    color: white;
}
.footer-bar{
  border-color: linear-gradient(to right, $royal1, $royal2, $royal3) solid 2px;
  background: linear-gradient(to right, $blooker1, $blooker2);
  width: 100%;
  height: 8vh;
  max-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  max-width: 125px;
  max-height: 90px;
  display: block;
  margin: auto;
  width: 80px;
  height: 30px;

}

@media only screen and (max-width: 400px){
  .logo {
    width: 25vw;
    height: 15vh;
  }
}